@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100;200;400;500;600;700&display=swap');

body {
    font-family: 'Playpen Sans', cursive;
    background-color: #E5E5E5;
}
a {
    text-decoration: none;
}